<div id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
         id="sidebar">
      <div class="container-fluid d-flex flex-column p-0">
        <div class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </div>
        <hr class="sidebar-divider my-0">

        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="dashboard">
              <i class="fas fa-home"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="fornecedores">
              <i class="fas fa-table"></i>
              <span>Fornecedores</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="produtos">
              <i class="fas fa-clipboard"></i>
              <span>Produtos</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="orcamentos">
              <i class="fas fa-money-bill"></i>
              <span>Orçamentos</span>
            </a>
          </li>
        </ul>

        <div class="text-center d-none d-md-inline">
          <button class="btn rounded-circle border-0"
                  id="sidebarToggle"
                  (click)="toggleSidebar()"
                  type="button">
          </button>
        </div>
      </div>

    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-nav-bar></app-nav-bar>
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <button class="border rounded d-inline scroll-to-top" (click)="scrollToTop()">
      <i class="fas fa-angle-up"></i>
    </button>

  </div>
</div>
