<h3 class="text-dark mb-4">Orçamentos</h3>

<div class="card shadow">
  <div class="card-body">

    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3">
        <input matInput class="form-control form-control-sm " placeholder="Pesquisar">
      </div>
    </div>

    <div class="table-responsive table mt-2">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> Avatar</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <img class="rounded-circle my-1" width="75" height="75" src="assets/img/avatars/avatar1.jpeg">
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Age</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary">
              <i class="fas fa-edit"></i>
            </button>
            <button mat-button color="warn">
              <i class="fas fa-trash"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>



